.card {
  width: 400px;
  height: 300px;
  margin: 10px;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  background-image: url("background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.card img {
  position: absolute;
  top: 70%;
  left: 38%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70%;
}
.linkage:hover {
  cursor: pointer;
}
