.card {
  height: 18rem;
  width: 20rem;
  margin-bottom: 0;
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  flex-direction: column;

  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    .box {
      background: url("https://res.cloudinary.com/dgnlmdkyq/image/upload/v1728385691/Screenshot_2024-10-07_211938_caahzz.webp");
      background-repeat: no-repeat;
      background-size: cover;
      height: 90%;
      width: 100%;
      a {
        background: none;
      }

      .im {
        height: 50%;
        width: 70%;
        scale: 0.8;
        overflow: hidden;
        left: 1rem;
        translate: 3rem 4.5rem;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}
.sponsorHeading {
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
}
// @media screen and (max-width: 768px) {
//   .card {
//     scale: 0.8;
//   }
// }
// @media screen and (max-width: 400px) {
//   .card {
//     scale: 1;
//   }
// }
