.card {
  height: 18rem;
  width: 20rem;
  margin-bottom: 0;
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;

  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .box {
      background: url("");
      background-repeat: no-repeat;
      background-size: cover;
      height: 90%;
      width: 100%;

      .img {
        height: 30%;
        width: 50%;
        scale: 0.8;
        overflow: hidden;
        left: 1rem;
        translate: 4rem 9rem;
        background: transparent;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .card {
    scale: 0.8;
  }
}
@media screen and (max-width: 350px) {
  .card {
    scale: 0.7;
    .wrapper {
      .box {
        .img {
          translate: 5.5rem 10rem;
        }
      }
    }
  }
}
