.sponsor {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;

  font-family: Georgia, "Times New Roman", Times, serif;
}
@font-face {
  font-family: "StarJedi";
  src: url("../../public/fonts/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.heading {
  font-family: "Starjedi", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: yellow;
}

.innerCont {
  flex-basis: 33.33%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .innerCont {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .innerCont {
    width: 90%;
  }
}
