@font-face {
  font-family: "StarJedi";
  src: url("/fonts/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hero {
  position: relative;
  font-size: 1.5rem;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: radial-gradient(circle, transparent 50%, #e9941e54),
    url("/images/starrybg.webp");
  background-attachment: fixed;

  .smallrocket {
    position: absolute;
    top: 45rem;

    @media screen and (min-width: 1060px) {
      top: 10rem;
    }

    left: 140vw;
    animation-name: smallrocket;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform: scale(-0.5,-0.5);

    @media screen and (min-width: 720px) {
      transform: scale(-1,-1);
    }

    @keyframes smallrocket {
      0% {
        left: 140vw;
      }

      100% {
        left: -140vw;
      }
    }
  }

  .bigrocket {
    position: absolute;
    top: 30rem;

    @media screen and (min-width: 1060px) {
      top: 10rem;
    }

    scale: 0.2;

    @media screen and (min-width: 720px) {
      scale: 0.5;
    }

    left: -80vw;
    animation-name: bigrocket;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    @keyframes bigrocket {
      0% {
        left: -200vw;
      }

      100% {
        left: 200vw;
      }
    }
  }

  .welcome {
    position: absolute;
    top: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 500px) {
      display: none;
    }

    .logoCont {
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        width: 70%;
        height: 70%;

        // @media screen and (min-width:485px) {
        //   width: 20%;
        //   height: 20%;
        // }
        @media screen and (min-width: 355px) {
          width: 60%;
          height: 60%;
        }

        @media screen and (min-width: 420px) {
          width: 30%;
          height: 30%;
        }

        @media screen and (min-width: 545px) {
          width: 40%;
          height: 40%;
        }

        @media screen and (min-width: 575px) {
          width: 30%;
          height: 30%;
        }
      }
    }

    .title {
      font-family: "StarJedi", sans-serif;
      color: white;
      font-size: 2.4rem;

      @media screen and (min-width: 382px) {
        font-size: 2rem;
      }

      @media screen and (min-width:415px){
        font-size: 1.8rem;
      }

      animation: glow 3s ease 0s infinite alternate forwards;

      @keyframes glow {
        0% {
          text-shadow: 0 0 1rem #ffcd00;
        }

        50% {
          text-shadow: 0 0 3rem #ffcd00;
        }

        100% {
          text-shadow: 0 0 1rem #ffcd00;
        }
      }
    }

    .time {
      text-align: center;
      font-size: 2rem;

      @media screen and (min-width: 395px) {
        font-size: 1rem;
      }

      // @media screen and (min-width: 375px) {
      //   font-size: 4rem;
      // }
      .dates {
        font-family: "StarJedi", sans-serif;
        color: #ffcd00;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;

        span {
          font-family: "StarJedi", sans-serif;
          color: #ffcd00;
          animation: glow 3s ease 0s infinite alternate forwards;

          @keyframes glow {
            0% {
              text-shadow: 0 0 1rem #ffcd00;
            }

            50% {
              text-shadow: 0 0 3rem #ffcd00;
            }

            100% {
              text-shadow: 0 0 1rem #ffcd00;
            }
          }
        }
      }

      .month {
        font-family: "StarJedi", sans-serif;
        color: #ffcd00;
        animation: glow 3s ease 0s infinite alternate forwards;

        @keyframes glow {
          0% {
            text-shadow: 0 0 1rem #ffcd00;
          }

          50% {
            text-shadow: 0 0 3rem #ffcd00;
          }

          100% {
            text-shadow: 0 0 1rem #ffcd00;
          }
        }
      }
    }
  }

  .rocketFront {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(39, 216, 232, 0.923)
    );
    width: 100%;
    scale: 2;
    bottom: 10vh;

    @media screen and (min-width: 380px) {
      bottom: 10vh;
    }

    @media screen and (min-width: 470px) {
      bottom: 12vh;
    }

    @media screen and (min-width: 560px) {
      bottom: 15vh;
    }

    // @media screen and (min-width:720px) {
    //   bottom:25vh;
    // }
    @media screen and (min-width: 720px) {
      scale: 1;
      bottom: 0;
    }

    .watchBulbs {
      position: absolute;
      top: 15%;

      min-height: 3rem;
      width: 20%;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .upper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .lower {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .ControlStationCont {
      position: absolute;
      bottom: 10%;
      scale: 1;
      width: 20%;
      z-index: 5;

      @media screen and (min-width: 330px) {
        bottom: 15%;
      }

      @media screen and (min-width: 400px) {
        scale: 1.5;
      }

      @media screen and (min-width: 560px) {
        bottom: 20%;
      }

      z-index: 3;

      .lights {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;

        @media screen and (min-width: 950px) {
          margin-bottom: 2rem;
        }

        .BulbCont {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2px;
          width: 2px;

          @media screen and (min-width: 800px) {
            height: 6px;
            width: 6px;
          }

          .redBulb {
            min-height: 100%;
            width: 100%;
            border: 2px solid #c81414;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: radial-gradient(circle, #ffffff, #c81414);
            box-shadow: 0 0 1px #c81414;
            animation-name: twinklingred;
            animation-duration: 0.2s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;

            @keyframes twinklingred {
              0% {
                transform: translate(0px, 0px);
                box-shadow: 0 0 1px #c81414;
              }

              50% {
                transform: translate(0.5px, 0.5px);
                box-shadow: 0 0 20px #c81414;
              }

              100% {
                transform: translate(0px, 0px);
                box-shadow: 0 0 1px #c81414;
              }
            }
          }

          .greenBulb {
            min-height: 100%;
            width: 100%;
            border: 2px solid #81ff33;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: radial-gradient(circle, #ffffff, #81ff33);
            box-shadow: 0 0 1px #81ff33;
            animation-name: twinklinggreen;
            animation-duration: 0.2s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;

            @keyframes twinklinggreen {
              0% {
                transform: translate(0px, 0px);
                box-shadow: 0 0 1px #c81414;
              }

              50% {
                transform: translate(-0.5px, 0.5px);
                box-shadow: 0 0 20px #c81414;
              }

              100% {
                transform: translate(0px, 0px);
                box-shadow: 0 0 1px #c81414;
              }
            }
          }

          .blueBulb {
            min-height: 100%;
            width: 100%;
            border: 2px solid #5a92ff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-image: radial-gradient(circle, #ffffff, #5a92ff);
            box-shadow: 0 0 1px #5a92ff;
            animation-name: twinklingblue;
            animation-duration: 0.2s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;

            @keyframes twinklingblue {
              0% {
                transform: translate(0px, 0px);
                box-shadow: 0 0 1px #5a92ff;
              }

              50% {
                transform: translate(-0.5px, 0.5px);
                box-shadow: 0 0 20px #5a92ff;
              }

              100% {
                transform: translate(0px, 0px);
                box-shadow: 0 0 1px #5a92ff;
              }
            }
          }
        }

        .left {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }

        .right {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          .rightChild {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5rem;

            .grandchild1 {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
            }

            .grandchild2 {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: 5px;
            }
          }
        }
      }

      .ControlStation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        scale: 1;

        @media screen and (min-width: 700px) {
          scale: 1.2;
        }

        @media screen and (min-width: 950px) {
          scale: 2;
        }

        .upperRow {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .radarCont {
            height: 2rem;
            width: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .radar {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 90%;
              background-image: url("/images/radarbg.svg");
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
              border: 1px solid #fee141;
              border-radius: 2px;
              overflow: hidden;

              .redLinesCont {
                width: 10%;
                min-height: 100%;
                border: 1.84px solid #ff5a1d;
                border-top: none;
                border-bottom: none;
                animation-name: redlines;
                animation-duration: 3s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;

                @keyframes redlines {
                  0% {
                    width: 10%;
                  }

                  50% {
                    width: 90%;
                  }

                  100% {
                    width: 10%;
                  }
                }
              }

              .yellowLinesCont {
                position: absolute;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                .rect1 {
                  width: 64px;
                  height: 64px;
                  border: 1px solid #fee141;
                  border-top: none;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  animation-name: rect1;

                  @keyframes rect1 {
                    0% {
                      width: 64px;
                      height: 64px;
                    }

                    50% {
                      width: 10px;
                      height: 10px;
                    }

                    100% {
                      width: 64px;
                      height: 64px;
                    }
                  }

                  animation-duration: 3s;
                  animation-fill-mode: forwards;
                  animation-iteration-count: infinite;

                  .rect2 {
                    width: 25px;
                    height: 25px;
                    border: 1px solid #fee141;
                    border-top: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    animation-name: rect2;

                    @keyframes rect2 {
                      0% {
                        width: 25px;
                        height: 25px;
                      }

                      50% {
                        width: 6px;
                        height: 6px;
                      }

                      100% {
                        width: 25px;
                        height: 25px;
                      }
                    }

                    animation-duration: 3s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;

                    .rect3 {
                      width: 10px;
                      height: 10px;
                      border: 1px solid #fee141;
                      border-top: none;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      animation-name: rect3;

                      @keyframes rect3 {
                        0% {
                          width: 10px;
                          height: 10px;
                        }

                        50% {
                          width: 4px;
                          height: 4px;
                        }

                        100% {
                          width: 10px;
                          height: 10px;
                        }
                      }

                      animation-duration: 3s;
                      animation-fill-mode: forwards;
                      animation-iteration-count: infinite;

                      .rect4 {
                        width: 5px;
                        height: 5px;
                        display: flex;
                        border: 1px solid #fee141;
                        border-top: none;
                        align-items: center;
                        justify-content: center;
                        animation-name: rect4;

                        @keyframes rect4 {
                          0% {
                            width: 5px;
                            height: 5px;
                          }

                          50% {
                            width: 1px;
                            height: 1px;
                          }

                          100% {
                            width: 5px;
                            height: 5px;
                          }
                        }

                        animation-duration: 3s;
                        animation-fill-mode: forwards;
                        animation-iteration-count: infinite;
                      }
                    }
                  }
                }
              }
            }
          }

          .dirbtncont {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.2rem;
            height: 2.2rem;

            .DirectionBtn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              cursor: pointer;
              background-image: url("/public/images/glowball.gif");
              background-size: cover;
              background-position: center;
              border: none;
              border-radius: 100%;

              .img {
                width: 90%;
                height: 90%;
              }
            }
          }
        }

        .lowerRow {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 0.5rem;

          .proceed {
            font-size: 0.5rem;
            background-color: #ff0000;
            color: #ffff00;
            font-family: "StarJedi", sans-serif;
            border: none;
            border-radius: 2px;
            padding: 0.1rem 0.5rem;
            z-index: 2;
            scroll-behavior: smooth;
            cursor: pointer;
          }
        }
      }
    }

    .windshield {
      position: absolute;
      bottom: 0;
      min-height: 80%;
      border: 0 solid transparent;
      border-radius: 80%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(
        to top,
        rgba(111, 111, 111, 0.641) 2%,
        transparent
      );
      backdrop-filter: blur(2px);

      .welcome {
        position: absolute;
        top: -100px;
        display: none;

        @media screen and (min-width: 500px) {
          display: flex;
        }

        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logoCont {
          display: flex;
          align-items: center;
          justify-content: center;

          .logo {
            width: 70%;
            height: 70%;

            @media screen and (min-width: 495px) {
              width: 30%;
              height: 30%;
            }

            @media screen and (min-width: 600px) {
              width: 30%;
              height: 30%;
            }

            @media screen and (min-width: 760px) {
              width: 20%;
              height: 20%;
            }

            @media screen and (min-width: 850px) {
              width: 30%;
              height: 30%;
            }
          }
        }

        .title {
          font-family: "StarJedi", sans-serif;
          color: whitesmoke;
          font-size: 0.8rem;
          
          @media screen and (min-width:520px){
            font-size: 1rem;
          }

          @media screen and (min-width:560px) {
            font-size: 1.2rem;
          }

          @media screen and (min-width:720px) {
            font-size: 1.4rem;
          }

          @media screen and (min-width: 1080px) {
            font-size: 1.2rem;
          }

          @media screen and (min-width: 1237px) {
            font-size: 1.5rem;
          }

          @media screen and (min-width: 1800px) {
            font-size: 1.3rem;
          }

          animation: glow 3s ease 0s infinite alternate forwards;

          @keyframes glow {
            0% {
              text-shadow: 0 0 1rem #ffcd00;
            }

            50% {
              text-shadow: 0 0 3rem #ffcd00;
            }

            100% {
              text-shadow: 0 0 1rem #ffcd00;
            }
          }
        }

        .time {
          text-align: center;
          font-size: 0.8rem;

          @media screen and (min-width: 720px) {
            font-size: 1.2rem;
          }

          @media screen and (min-width: 1080px) {
            font-size: 0.9rem;
          }

          @media screen and (min-width: 1237px) {
            font-size: 0.7rem;
          }

          @media screen and (min-width: 1800px) {
            font-size: 1.2rem;
          }

          .dates {
            font-family: "StarJedi", sans-serif;
            color: #ffcd00;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 4px;

            span {
              font-family: "StarJedi", sans-serif;
              color: #ffcd00;
              animation: glow 3s ease 0s infinite alternate forwards;

              @keyframes glow {
                0% {
                  text-shadow: 0 0 1rem #ffcd00;
                }

                50% {
                  text-shadow: 0 0 3rem #ffcd00;
                }

                100% {
                  text-shadow: 0 0 1rem #ffcd00;
                }
              }
            }
          }

          .month {
            font-family: "StarJedi", sans-serif;
            color: #ffcd00;
            animation: glow 3s ease 0s infinite alternate forwards;

            @keyframes glow {
              0% {
                text-shadow: 0 0 1rem #ffcd00;
              }

              50% {
                text-shadow: 0 0 3rem #ffcd00;
              }

              100% {
                text-shadow: 0 0 1rem #ffcd00;
              }
            }
          }
        }
      }

      .blaze {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;

        @media screen and (min-width: 555px) {
          width: 90%;
        }

        .leftBlaze {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 30%;
          height: 4rem;

          .leftfire {
            position: absolute;
            top: -2rem;
            height: 5rem;
            width: 5rem;
          }
        }

        .rightBlaze {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 30%;
          height: 4rem;

          .rightfire {
            position: absolute;
            top: -2rem;
            height: 5rem;
            width: 5rem;
            transform: rotateZ(40deg);
          }
        }
      }
    }

    .rocket {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      .cockpit {
        width: 100%;
      }
    }
  }

  .deathstarCont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
}
