@font-face {
  font-family: "DeathStar";
  src: url(../../../public/fonts/Death\ Star\ 400.ttf);
}
.button {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
.backtohome {
  text-decoration: none;
  color: black;
}
.visited {
  font-family: "DeathStar", sans-serif;
  background-color: white;
  color: black;
  padding: 5px 50px;
}
.div {
  background-color: white;
  height: 7px;
  width: 213px;
  position: absolute;
  top: -7px;
}
.divtwo {
  background-color: white;
  height: 7px;
  width: 213px;
  position: absolute;
}
.firstchange {
  height: 7px;
  border-top: 1px solid #faff00;
  border-bottom: 1px solid #faff00;
  border-left: 1px solid #faff00;
  width: 72px;
  position: absolute;
}
.secondchange {
  height: 7px;
  border-bottom: 1px solid #faff00;
  width: 5px;
  position: absolute;
  left: 72px;
}
.thirdchangebox {
  height: 8px;
  width: 8px;
  background-color: white;
  border-left: 1px solid #faff00;
  transform: rotate(-34deg);
  position: absolute;
  left: 73px;
  top: 26px;
}
.vector {
  background-color: black;
  height: 20px;
  width: 20px;
  transform: rotate(-21.6deg);
  position: absolute;
  top: -23px;
  left: -5px;
}
.vectortwo {
  background-color: black;
  height: 20px;
  width: 20px;
  transform: rotate(-21.6deg);
  position: absolute;
  left: 200px;
  top: 31px;
}
.slashcombine {
  display: flex;
  gap: 2px;
  position: absolute;
  top: -18px;
  left: 20px;
  .slashes {
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 7px;
    transform: rotate(-149deg);
  }
}
.fourthchange {
  height: 7px;
  border-bottom: 1px solid #faff00;
  width: 126px;
  background-color: black;
  position: absolute;
  top: -14.5px;
  left: 86.5px;
}
.aboveline {
  height: 1px;
  border: none;
  background-color: #faff00;
  width: 114.5px;
  position: absolute;
  top: -13px;
  left: 93px;
}
.abovelinetwo {
  height: 1px;
  border: none;
  background-color: #faff00;
  width: 7px;
  position: absolute;
  top: -12px;
  transform: rotate(-58deg);
  left: 85px;
}
.abovelinefour {
  height: 1px;
  border: none;
  background-color: #faff00;
  width: 7.5px;
  position: absolute;
  transform: rotate(-114deg);
  top: -11.5px;
  left: 208px;
}
.abovelinefive {
  height: 1px;
  border: none;
  background-color: #faff00;
  width: 4px;
  position: absolute;
  top: -13.5px;
  left: 206.5px;
  transform: rotate(-33deg);
}

.backtohome:hover {
  .firstchange {
    border-top: 1px solid #ffbf00;
    border-bottom: 1px solid #ffbf00;
    border-left: 1px solid #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
  .secondchange {
    border-bottom: 1px solid #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
  .thirdchangebox {
    border-left: 1px solid #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
  .slashes {
    color: black;
  }
  .fourthchange {
    border-bottom: 1px solid #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
  .aboveline {
    background-color: #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
  .abovelinetwo {
    background-color: #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
  .abovelinethree {
    background-color: #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
  .abovelinefour {
    background-color: #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
  .abovelinefive {
    background-color: #ffbf00;
    transition-property: all;
    transition-duration: 300ms;
  }
}
.abovelinethree {
  height: 1px;
  border: none;
  width: 4.5px;
  background-color: yellow;
  position: absolute;
  transform: rotate(-137deg);
  top: -14px;
  left: 89.5px;
}

@media screen and (max-width: 1080px) {
  .divtwo {
    width: 168px;
  }
  .div {
    width: 168px;
  }
  .thirdchangebox {
    top: 18px;
  }
  .fourthchange {
    width: 81px;
  }
  .aboveline {
    width: 69px;
  }
  .abovelinefour {
    left: 163px;
  }
  .abovelinefive {
    left: 161.5px;
  }
  .vector {
    background-color: black;
  }
  .vectortwo {
    background-color: black;
    top: 24px;
    left: 155px;
  }
}
@media screen and (max-width: 768px) {
  .slashcombine {
    gap: 1px;
  }
  .divtwo {
    width: 159px;
  }
  .div {
    width: 159px;
  }
  .thirdchangebox {
    top: 17px;
  }
  .fourthchange {
    width: 81px;
    left: 74.5px;
    width: 84px;
  }
  .aboveline {
    width: 72px;
    left: 82px;
  }
  .abovelinetwo {
    left: 73px;
  }
  .abovelinethree {
    left: 78px;
  }
  .abovelinefour {
    left: 154px;
  }
  .abovelinefive {
    left: 152.5px;
  }
  .vector {
    background-color: black;
  }
  .vectortwo {
    background-color: black;
    top: 22px;
    left: 146px;
  }
}
